@import "application.css";

body
{
    padding-left: max(20px,env(safe-area-inset-left));
    padding-right: max(20px,env(safe-area-inset-right));
    padding-bottom: max(20px,env(safe-area-inset-bottom));
    max-width: 810px;
    margin: 0 auto;
}

p
{
    color: #575757
}